body{
  font-family: helvetica;
}

h1 {
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.time {
  font-size: 20vmin;
}

.hour::after {
  content:":";
}
.minute::after {
  content: ":";
}

.progress-bar {
  border-color: #ddd;
  width: 50%;
  margin: 0 auto;
}

.inner-progress-bar {
  background-color: #FD8000;
  height: 10px;
  margin: auto;
}
